

@font-face {
    font-family: myFirstFont;
    src: url('..//static/dl');
  }
  
// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

@mixin breakpoint($point) {
    @if $point==tabletmobile {
        @media (max-width: 1024px) and (min-width: 320px) {
            @content ;
        }
    }
    @else if $point==mobile {
        @media (max-width: 480px) and (min-width: 320px) {
            @content ;
        }
    }
}

// keyframes
@keyframes circle{
  50%  {
    transform: scale(1.1);
  }
  75%  {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes outer-circle{
  0%{
    border-color: transparent;
  }
  25%{
    border-color: transparent;
  }
  75%{
    transform: scale(1.2);
    border: 1vmin solid #c42348;
  }
  100% {
    transform: scale(1.7);
    border: 1vmin solid #c42348;
    border-color: transparent;
  }
}

button#start{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: white;
  font-size: 20px;
  height: 50%;
  border-radius: 9px;
  border-color: #5f0f40;
  border: #5f0f40, solid;
  background-color: #ba2c73;
}
button#stop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
    font-size: 20px;
    height: 50%;
    border-radius: 9px;
    border-color: #ba2c73;
    border: #b81365, solid;
    background-color: #5f0f40;
  }
  audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*height: 50%;*/
    border-radius: 9px;
    /*background-color: #ffffff;*/
    
  }
@keyframes outer-circle-2{
  0%{
    transform: scale(1.3);
    border: 1vmin solid #36c1fa;
  }
  50%{
    transform: scale(1.7);
    border-color: transparent;
  }
  75%{
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(
    #ed4d6e, 0.3),
                0 0 0 0vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 0vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 20vmin rgba(
                #ed4d6e, 0.3);
  }
  25%  {
    box-shadow: 0 0 0 0 rgba(
    #ed4d6e, 0.3),
                0 0 0 0vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 15vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 20vmin rgba(
                #ed4d6e, 0.3);
  }
  50%  {
    box-shadow: 0 0 0 0 rgba(
    #ed4d6e, 0.3),
                0 0 0 10vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 15vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 20vmin rgba(
                #ed4d6e, 0.3);
  }
  75%  {
    box-shadow: 0 0 0 4vmin rgba(
    #ed4d6e, 0.3),
                0 0 0 10vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 15vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 20vmin rgba(
                #ed4d6e, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0vmin rgba(
    #ed4d6e, 0.3),
                0 0 0 0vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 0vmin rgba(
                #ed4d6e, 0.3),
                0 0 0 0vmin rgba(
                #ed4d6e, 0);
  }
}

body{
  width: 100%;
  height: 100%;
  background: #011936;
  overflow: hidden;
}

.title{
  color: #fff;
  text-align: center;
  font-size: 5vmin;
  margin-top: 15vmin;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;

  @include breakpoint(mobile)
  {
    margin-top: 55vmin;
  }
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35vmin;
  width: 35vmin;
  border-radius:50%;
  background-image: url('..//static/Untitled\ design-2.png');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: center; 
  animation: circle 1.5s linear infinite;
  div#c-shape{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8vmin;
    height: 6.5vmin;
    top: 1vmin;
    left: -10vmin;
    border: 4vmin solid #fff;
    border-top: none;
    background: transparent;
    transform: rotate(45deg);
    border-bottom-left-radius: 8vmin;
    border-bottom-right-radius: 8vmin;
  }div#c-shape:before{
      top: -5.5vmin;
      left: -4vmin;
      width: 4vmin;
      height: 7vmin;
      background: #fff;
      border-top-left-radius: 2vmin;
      border-top-right-radius: 2vmin;
    }

    #c-shape:after{
      top: -1.8vmin;
      left: 8vmin;
      width: 4vmin;
      height: 4vmin;
      background: #fff;
      border-top-left-radius: 2vmin;
      border-top-right-radius: 2vmin;
    }

  .reverse{
    top: -1.5vmin;
    left: 9.6vmin;
    transform: rotate(-135deg);
  }
}
div#buttons{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

div#container{
    margin-left: auto;
    margin-right: auto;
}

div#outer-circle{
    border-color: #ff7b9c;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20vmin;
    height: 20vmin;
    background: transparent;
    border-radius: 40%;
    animation: spin 20s linear infinite;
    margin-top: 13px;
}

div#outer-circle-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #ff7b9c;
    width: 20vmin;
    height: 20vmin;
    background: transparent;
    background-clip: content-box;
    border-radius: 50%;
    animation: spin 10s linear infinite;
}
